body{
    margin: 0;
    padding: 0; 
}

.topCtn{
    width: 100vw;
    display: flex;
    margin-bottom: 200px;
}

/* Navbar gauche */

.fixed{
    position: fixed;
    height: 100vh;
    width: 20%;
    z-index: 1;
}

.left{
    position: relative;
    background-color: grey;
    height: 100%;
    -webkit-box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.60);
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.60);
    font-size: 20px;
}


.firstDiv{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

.navTable{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    padding-top: 50px;
}

.navBtns{
    width: 90%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0.2s;
    border-radius: 10px;
}

.navBtns:hover{
    cursor: pointer;
    background-color: lightblue;
}

.bottomNav{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#signOutBtn{
    transition: 0.3s;
    border: none;
    background-color: beige;
    height: 50px;
    width: 60%;
}

#signOutBtn:hover{
    border-radius: 10px;
    background-color: red;
    color: white
}

/* Emploi du temps */

.right{
    position: relative;
    height: 5%;
    width: 75%;
    right: -22%;
}

.scheduler{
    position: relative;
    border: 2px solid black;
    margin: 0 50px 0 auto;
    top: 70px;
}

.cells{
    border: 1px solid grey;
    height: 35px;
}

.cells:hover{
    background-color: lightblue;
}


/* Ajouter cours */

.displayAddCourse{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    width: 40%;
    top: 30%;
    left: 35%;
    background-color: beige;
    z-index: 1;
}
.displayAddCourse input{
    width: 50%;
}

#addd{
    border: none;
    background-color: beige;
    height: 10%;
    width: 30%;
    border: 1px solid black;
}

.close{
    position: absolute;
    top: 15px;
    right: 20px;
}


/* DISPLAY TEST */
#displayTest{
    position: absolute;
    right: 50%;
    bottom: 0;
}


/* Bottom Ctn */

.botCtn{
    display: flex;
    justify-content: flex-end;
}



/* Tableau Classes */


#newTable{
    margin-right: 50px;
    width: 70%;
    text-align: center;
}
#inputAddClass{
    display: none;
}
#firstRow{
    background-color: #6B77D8;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#firstRow select{
    width: 80px;
    display: inline-block;
}
#firstRow button{
    margin: 0 10px;
}
#firstRow input{
    width: auto;
    display: inline;
}