body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url(../lib/geo.jpg);
    color:white
}

.form-control:focus{
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* All part */

.form-group{
    width: 300px;
}

.checkBtns{
    width: 100%;
}

/* Top part */

#checkMail{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* Bottom part */

.botPart{
    width: 100%;
    height: 50%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h2{
    display: inline-block;
}

.animation_back{
    position: relative;
    background:transparent;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    /* linear-gradient(to left, #2F1847, #624763); */
}

.box-area{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border:none;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    border:  yellow solid 3px;
    bottom: -150px;
    
}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    border:  orange solid 3px;
    filter: blur(5px);
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    border:  purple solid 3px;
    
}
.box-area li:nth-child(3){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 5.5s;
    border: mediumslateblue solid 3px;


}
.box-area li:nth-child(4){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
    border: tan solid 3px;

}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    border:  palevioletred solid 3px;
    

}
.box-area li:nth-child(6){
    left: 25%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    border: olive solid 3px;

}
.box-area li:nth-child(7){
    left: 15%;
    width: 30px;
    height: 30px;
    animation-delay: 3.5s;
    border: slategray solid 3px;

}
.box-area li:nth-child(8){
    left: 10%;
    width: 10px;
    height: 10px;
    animation-delay: 3.5s;
    border: mediumseagreen solid 3px;
    filter: blur(5px);

}
@keyframes animate{
    0%{
        transform:translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform:translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}